
# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

        <Col xs={12}>
						<Form.Group controlId="formBasicPassword" id="form-group-signup-password">
							<Form.Label>Confirm Password</Form.Label>
							<Form.Control
								type={type}
								placeholder="Password"
								maxLength="20"
								onChange = {confirmPassword}
								
								/>{
									(hide ? ( <VisibilityOffIcon className="visiblity" onClick={visiblity}/>) : (
										<VisibilityIcon className="visiblity" onClick={hideVisbilty}/>
									))
									}
								<div className="red">{errorPassword}</div>
						</Form.Group>
					</Col>
				