.sidebar {
  position: fixed;
    top: 90px;
    bottom: 0; 
     left: 0;
    width: 280px;
    background: #F9F9F9 0% 0% no-repeat padding-box;
    opacity: 1;
    
    display: block;
     z-index: 1;
    color:black !important;
    background-size: cover;
    background-position: center center;
}
.dashboard-tab{
    margin: 0 3rem;

}
.main-panel {
    position: relative;
    float: right;
    margin-top: 5.45rem;
    padding-top: 3rem;
    width: calc(100% - 280px);
    overflow-y: hidden;
}
.new-menu {
    padding: 10px 13px
}

.nav-dash {
    /* display: flex; */
    /* flex-wrap: wrap; */
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.hurt {
 padding: 30px 15px;
 min-height: calc(100% - 123px);   
}
.stats {
    padding: 10px;
}
.green {
    color: #20E862;
}
@media (max-width: 991px){
.sidebar {
    position: fixed;
    display: block;
    top: 0;
    height: 100%;
    width: 260px;
    right: 0;
    left: auto;
    z-index: 1032;
    visibility: visible;
    background-color: #999;
    overflow-y: visible;
    border-top: none;
    text-align: left;
    padding: 0;
    transform: translate3d(260px, 0, 0);
    transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
}
.main-panel {
    transform: translate3d(0px, 0, 0);
    transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
    left: 0;
    width: 100%;
}
.table-responsive {
    width: 100%;
    margin-bottom: 15px;
    overflow-x: scroll;
    overflow-y: hidden;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    -webkit-overflow-scrolling: touch;
}
}
@media(max-width:1100px){
.d{
    background-attachment: fixed;
}
}
.dashboard-style {
    font: normal normal 300 30px/37px Roboto;
letter-spacing: 0.09px;
}
.menu-form {
padding: 0 2rem;
}
.form-row > .mt-3 {
    padding: 0px 10px;
}
.currency-svg {
    position: absolute;
    right: 2px;
    top: 30px;
}
.change-textarea{
height: 216px !important;
opacity: 0.8;
}
.orders-data-font{
    font-size: 12px;
}
.mt {
    margin-top: 7px;
}
.toggle-container {
    width: 70px;
    background-color: #20E862;
    cursor: pointer;
    user-select: none;
    border-radius: 15px;
    height: 32px;
    position: relative;
  }
  .abled {
    background-color: #20E862;
  }
  .t-disabled {
    background-color: #c4c4c4;
    
  }
  .dialog-button {
    font-weight: bold;
    cursor: pointer;
    background-color: #ffffff;
    padding: 8px 12px;
    border-radius: 25px;
    min-width: 46px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 32px;
    min-width: unset;
    height: 100%;
    left: 38px;
    transition: all 0.3s ease;
  }
  
  .disabled {
    background-color: #707070;
    left: 0px;
  }