@import url('http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900italic,900');
body {
  margin: 0;
  font-family: 'Roboto',  'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.carousel-fade .carousel-item {
	opacity: 0;
	transition-duration: .6s;
	transition-property: opacity;
}

.carousel-fade .carousel-item.active,
.carousel-fade .carousel-item-next.carousel-item-left,
.carousel-fade .carousel-item-prev.carousel-item-right {
	opacity: 1;
}

.carousel-fade .active.carousel-item-left,
.carousel-fade .active.carousel-item-right {
	opacity: 0;
}

.carousel-fade .carousel-item-next,
.carousel-fade .carousel-item-prev,
.carousel-fade .carousel-item.active,
.carousel-fade .active.carousel-item-left,
.carousel-fade .active.carousel-item-prev {
	transform: translateX(0);
	transform: translate3d(0, 0, 0);
}
.nav {
	justify-content: space-between;
}
.p-btn {
padding: 7px;
}
.nav-home {
	display: flex;
	margin-left: 10px;
}
.nav-search {
	border-radius: 15px;
	padding-left: 1.75rem !important;
	padding-right: 1.7rem !important;
}
.nav-adjust {
	padding: 15px;
}
.form-nav {
	margin-left: 1rem;
}
.nav-location {
	display: flex;
	flex-wrap: wrap;
}
.pl-nav {
	padding-left: 5px;
}
.black-cls {
	color: black;
	font-size: 1.8rem !important;
}
.carts-brand {
	display: flex;
padding-top: .3125rem;
padding-bottom: .3125rem;
margin-right: 1rem;
font-size: 1.25rem;
line-height: inherit;
white-space: nowrap;

}
@media only screen and (max-width:320px){
	.d-whole {
		flex-wrap: nowrap !important;
	}
}
@media only screen and (max-width:426px){
	.carts-brand{
		margin-right: 0 !important;
	}
}
.search-svg{
	position: absolute;
}
p.dw {
	position: relative;
}
p.da{
	position: absolute;
	top: 0px;
	left: 30px;
	color: black;
}
.svg-width{
	width: 2rem !important;
}
.carousel-item.active {
    display: flex;
    justify-content: flex-end;
}
.create-menu {
	justify-content: space-between;
	
}
.jumbocolor {
	background-color: #ffffff !important;
}
@media only screen and (max-width:767px){
	/*.jumbocolor{
		display: none
	}*/
	.form-flex{
		justify-content: normal;
	}
}
/*@media only screen and (min-width:767px){
.moblie {
	display: none;
}
}*/
.w-fles {
	width: 20%;
}
.checkbox-menu {
	display: flex;
}
.checkbox-menu:hover{
	cursor: pointer;

}
.content {
	display: flex;
	flex-direction: column;
	
}
.color-menu {
	background-color: #EEEEEE;
	
	border-radius: 25px;
}
.content.col-md-2 {
    padding: 0px !important;
}
.color-menu > .content {
	border-width: 0 0 1px;
}
.content > .color-menu {
	padding-left: 8px;
	padding-right: 8px;
}
.hr-u {
	border-top: 1px solid;
}
.more-meals {
	text-align: center;
}
.img-food-menu{
	width: 224px;
height: 174px;
	border-radius: 19px;
}
.color-tab{
	border-radius: 25px;
	background-color:#EEEEEE;
}
@media (min-width: 768px){
.content.col-md-2 {
    flex: 0 0 20% ;
    max-width: 20% ;
}
}
.mk-changes {
	width: 95%;
	border-color:  black;
}
@media (max-width:992px){
	.img-food-menu{
		width: 157px;
	}
	.mk-border.mt-3.col-md-4.col-sm-8 {
		margin-top: 0px !important;
	}
	
}
@media  (max-width :768px){
	
.ktchen{
	padding-top: 0px !important;
}
}
@media (max-width: 576px){
.col-sm-3 {
    flex: 0 0 25%;
    max-width: 25%;
}
.col-md-4.col-sm-6 {
    flex: 0 0 100%;
    text-align: center;
}
.ktchen {
    padding-top: 1rem !important;
}
}
.mk-border {
	border-left: 1px solid black;
}
@media (max-width:765px){
	.mk-border {
		border-left: none
	}
	.details {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.content.col-md-2 {
		margin: 2rem ;
	}
}
@media only screen and (max-width: 540px){
.bg-height-nav {
    height: 66vh !important;
}
}
.header-row {
    display: flex;
	justify-content: space-between;
	padding: 0px 10px;
}